#new-contact-title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
#employeeForm {
    margin-bottom: 20px;
    width: 350px;
    height: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dfe7ea;
    border-radius: 5px;
    background-color:rgba(223, 231, 234, 0.6);
    
    }
#employeeForm input {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dfe7ea;
    border-radius: 3px;
    text-align:left;
    align-content: right;
    }
#employeeForm label {
    text-align: left;
    align-content: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    }
button img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 2px solid #ccc;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 60px;
}
nav {
    background-color: #d3dce1;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.content {
    width: 60%;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 10px;
}
#subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    margin-bottom: 20px;
}
#welcome-message {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 20px;
}
#headline {
    font-family: cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
body  {
    background-size: cover;
    background-position: center;
}
#employeeTable {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid #dfe7ea;
    border-radius: 5px;
    background-color:rgba(223, 231, 234, 0.6);
}
#employeeTable th, #employeeTable td {
    border: 1px solid #dfe7ea;
    padding: 8px;
    text-align: left;   
}
#btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 60px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.btn{
        cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}